rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Regla de depuración: Permite la lectura y escritura a todos los usuarios,
    // incluyendo los no autenticados. Esto es para confirmar si el problema
    // de subida está relacionado con las reglas de seguridad.
    // ESTA REGLA NO ES SEGURA PARA PRODUCCIÓN.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
